<section class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <input type="email" placeholder="Your email" matInput ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" placeholder="Your password" matInput ngModel name="password" minlength="6" #pwInput="ngModel"
        required>
      <mat-error>Password has to be at least 6 charcters long</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" [disabled]="!f.valid">Login</button>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>