<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="50%">
    <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="filter" />
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Date
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.date.toDate() | date}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Calories
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.calories | number}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Duration
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.duration | number}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      State
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.state}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">

</mat-paginator>