a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgrey;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items a {
    font-size: 0.7em;
    text-transform: uppercase;
}