<section class="signup-form">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <input type="email" placeholder="Your email" matInput ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" placeholder="Your password" matInput ngModel name="password" minlength="6" #pwInput="ngModel"
        required>
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
      <mat-error>Password has to be at least 6 charcters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="disclaimer" required color="primary">Agree to terms and conditions</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>